<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Bottoms', bottoms_path %> > Bottom #<%= @bottom.id %></h1>
      <%= link_to 'Edit', edit_bottom_path(@bottom), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>User</h5>
        <%= @bottom.user %>
      </div>
            <div class="mb-4">
        <h5>Brand</h5>
        <%= @bottom.brand %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @bottom.name %>
      </div>
            <div class="mb-4">
        <h5>Product image data</h5>
        <%= @bottom.product_image_data %>
      </div>
            <div class="mb-4">
        <h5>Description</h5>
        <%= @bottom.description %>
      </div>
            <div class="mb-4">
        <h5>Retail price</h5>
        <%= @bottom.retail_price %>
      </div>
            <div class="mb-4">
        <h5>Retail price</h5>
        <%= @bottom.retail_price %>
      </div>
            <div class="mb-4">
        <h5>Type of</h5>
        <%= @bottom.type_of %>
      </div>
            <div class="mb-4">
        <h5>Gender</h5>
        <%= @bottom.gender %>
      </div>
            <div class="mb-4">
        <h5>Material</h5>
        <%= @bottom.material %>
      </div>
            <div class="mb-4">
        <h5>Primary color</h5>
        <%= @bottom.primary_color %>
      </div>
            <div class="mb-4">
        <h5>Secondary color</h5>
        <%= @bottom.secondary_color %>
      </div>
            <div class="mb-4">
        <h5>Product url</h5>
        <%= @bottom.product_url %>
      </div>
          </div>
  </div>
</div>
