<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Collections</h1>

    <% if @collections.any? %>
      <%= link_to 'New Collection', new_collection_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @collections.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @collections, :user_id, 'User', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @collections, :collection_type, 'Collection type', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @collections, :total_items, 'Total items', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @collections, :total_price, 'Total price', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @collections.each do |collection| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= collection.user_id %></td>
                      <td class="p-3"><%= collection.collection_type %></td>
                      <td class="p-3"><%= collection.total_items %></td>
                      <td class="p-3"><%= collection.total_price %></td>
          
            <td>
              <%= link_to "View", collection, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Collection</p>
        <%= link_to 'New Collection', new_collection_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
