<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3"><%= @collection_owner.name.possessive %> Collections</h1>
  </div>

  <% if @collections.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @collections, :collection_type, 'Collection type', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @collections, :total_items, 'Total items', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @collections, :total_price, 'Total price', class: 'text-gray-700' %></th>
          </tr>
        </thead>

        <tbody>
          <% @collections.each do |collection| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-100">
                <td class="p-3"><%= link_to collection.collection_type.pluralize, user_profile_collection_path(params[:user_profile_id], collection) %></td>
                <td class="p-3"><%= collection.total_items %></td>
                <td class="p-3"><%= number_to_currency(collection.total_price) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="text-center">
      <h3>An error occurred. Please try again later.</h3>
      <h4><%= link_to "Home", root_path %></h4>
    </div>
  <% end %>
</div>
