<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Routines', routines_path %> > Routine #<%= @routine.id %></h1>
      <%= link_to 'Edit', edit_routine_path(@routine), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>User</h5>
        <%= @routine.user %>
      </div>
            <div class="mb-4">
        <h5>Account</h5>
        <%= @routine.account %>
      </div>
            <div class="mb-4">
        <h5>Brand</h5>
        <%= @routine.brand %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @routine.name %>
      </div>
            <div class="mb-4">
        <h5>Description</h5>
        <%= @routine.description %>
      </div>
            <div class="mb-4">
        <h5>Action days</h5>
        <%= @routine.action_days %>
      </div>
            <div class="mb-4">
        <h5>Est time</h5>
        <%= @routine.est_time %>
      </div>
            <div class="mb-4">
        <h5>Total steps</h5>
        <%= @routine.total_steps %>
      </div>
          </div>
  </div>
</div>
