<div class="relative">
  <div class="z-40 absolute left-1/2 transform mt-3 px-2 w-screen max-w-4xl sm:px-0">
    <div class="rounded-lg shadow-lg">
      <div class="rounded-lg shadow-xs overflow-hidden">
        <div class="z-20 relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">

          <% if !@accessories.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Accessories</h5>
            <div class="ml-4">
              <% @accessories.each do |accessory| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(accessory), data: { "autocomplete-value": accessory.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(accessory.product_images.first.product_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= accessory.name %> by <%= accessory.brand.name %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        <%= truncate(accessory.description, length: 100) %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@bottoms.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Bottoms</h5>
            <div class="ml-4">
              <% @bottoms.each do |bottom| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(bottom), data: { "autocomplete-value": bottom.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(bottom.product_images.first.product_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= bottom.name %> by <%= bottom.brand.name %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        <%= truncate(bottom.description, length: 100) %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@cosmetics.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Cosmetics</h5>
            <div class="ml-4">
              <% @cosmetics.each do |cosmetic| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(cosmetic), data: { "autocomplete-value": cosmetic.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(cosmetic.product_images.first.product_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= cosmetic.name %> by <%= cosmetic.brand.name %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        <%= truncate(cosmetic.description, length: 100) %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@dresses.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Dresses</h5>
            <div class="ml-4">
              <% @dresses.each do |dress| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(dress), data: { "autocomplete-value": dress.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(dress.product_images.first.product_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= dress.name %> by <%= dress.brand.name %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        <%= truncate(dress.description, length: 100) %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@fragrances.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Fragrances</h5>
            <div class="ml-4">
              <% @fragrances.each do |fragrance| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(fragrance), data: { "autocomplete-value": fragrance.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(fragrance.product_images.first.product_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= fragrance.name %> by <%= fragrance.brand.name %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        <%= truncate(fragrance.description, length: 100) %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@jewelries.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Jewelries</h5>
            <div class="ml-4">
              <% @jewelries.each do |jewelry| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(jewelry), data: { "autocomplete-value": jewelry.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(jewelry.product_images.first.product_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= jewelry.name %> by <%= jewelry.brand.name %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        <%= truncate(jewelry.description, length: 100) %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@shoes.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Shoes</h5>
            <div class="ml-4">
              <% @shoes.each do |shoe| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(shoe), data: { "autocomplete-value": shoe.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(shoe.product_images.first.product_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= shoe.name %> by <%= shoe.brand.name %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        <%= truncate(shoe.description, length: 100) %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@tops.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Tops</h5>
            <div class="ml-4">
              <% @tops.each do |top| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(top), data: { "autocomplete-value": top.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(top.product_images.first.product_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= top.name %> by <%= top.brand.name %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        <%= truncate(top.description, length: 100) %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@guides.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Guides</h5>
            <div class="ml-4">
              <% @guides.each do |guide| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(guide), data: { "autocomplete-value": guide.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(guide.guide_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= guide.title %> by <%= guide.user.username %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        Written On: <%= guide.created_at.strftime("%A, %d %b %Y at %l:%M %p") %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@catalogs.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Catalogs</h5>
            <div class="ml-4">
              <% @catalogs.each do |catalog| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(catalog), data: { "autocomplete-value": catalog.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(catalog.catalog_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= catalog.title %> by <%= catalog.user.username %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        Written On: <%= catalog.created_at.strftime("%A, %d %b %Y at %l:%M %p") %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@outfits.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Outfits</h5>
            <div class="ml-4">
              <% @outfits.each do |outfit| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to polymorphic_path(outfit), data: { "autocomplete-value": outfit.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(outfit.outfit_image_url, width: 50, height: 50, crop: :fit, gravity: :center) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= outfit.title %> by <%= outfit.user.username %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        Written On: <%= outfit.created_at.strftime("%A, %d %b %Y at %l:%M %p") %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if !@users.blank? %>
            <h5 class="block text-sm font-medium leading-2 text-gray-700">Users</h5>
            <div class="ml-4">
              <% @users.each do |user| %>
                <%= content_tag :li, role: :option do %>
                  <%= link_to user_profile_path(user), data: { "autocomplete-value": user.id }, class: "-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150" do %>
                    <%= fa_icon("fal fa-level-up fa-rotate-90", class: "my-auto mr-2 text-gray-600") %>
                    <%= image_tag(user.avatar_image_url, width: 50, height: 50, crop: :fit) %>
                    <div class="space-y-1">
                      <p class="text-base leading-6 font-medium text-gray-900">
                        <%= user.username %>
                      </p>
                      <p class="text-sm leading-5 text-gray-500">
                        <%= user.name %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
