<div class="my-6 overflow-hidden">
  <h1 class="mb-6 text-center">
    <%= fa_icon("fal fa-search", class: "mr-4") %> <span class="font-bold"><%= params[:q] %></span>
  </h1>

  <hr>

  <div data-controller="tabs" data-tabs-active-tab="-mb-px tab-active transition">
    <div class="sm:hidden">
      <%= select_tag "page", options_for_select(search_results_nav_tab_options(false)), aria: { label: "Selected tab" }, class: "form-select block w-full" %>
    </div>
    <div class="hidden bg-white sm:block">
      <div class="border-b border-gray-200">
        <nav class="-mb-px flex">

          <% @result_categories.each do |category, results| %>
            <%= link_to "#", data: { target: "tabs.tab", action: "click->tabs#change" }, class: "group w-1/4 py-4 px-1 text-center border-b-2 border-transparent text-md leading-5 text-gray-600 hover:text-gray-800 hover:border-gray-500 focus:outline-none focus:text-gray-800 focus:border-gray-500 active:text-gray-800 active:border-gray-500" do %>
              <% if !results.blank? %>
                <%= pluralize(results.total_count, category.to_s) %>
              <% else %>
                0 <%= category %>
              <% end %>
            <% end %>
          <% end %>

        </nav>
      </div>
    </div>

    <% @result_categories.each do |category, results| %>
      <div class="hidden py-4 px-4" data-target="tabs.panel">
        <div class="container max-w-8xl mx-auto">

          <div class="flex flex-col">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
              <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead>
                    <tr>
                      <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                        Product
                      </th>
                      <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                        Description
                      </th>
                      <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                        Retail Price
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">

                    <% if !results.blank? %>
                      <% results.each do |product| %>
                        <tr>
                          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="flex items-center">
                              <div class="flex-shrink-0">
                                <%= image_tag(product.product_images.first.product_image_url, width: 75, height: 75, crop: :fit) %>
                              </div>
                              <div class="ml-4">
                                <div class="text-md leading-5 font-medium text-gray-900">
                                  <%= link_to product.name, polymorphic_path(product) %>
                                </div>
                                <div class="text-sm leading-5 text-gray-500">
                                  <%= link_to product.brand.name, polymorphic_path(product.brand) %>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="text-sm leading-5 text-gray-600"><%= truncate(product.description, length: 75) %></div>
                          </td>
                          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <span class="px-2 inline-flex text-sm leading-5 font-semibold bg-green-100 text-green-800">
                              <%= number_to_currency(product.retail_price) %>
                            </span>
                          </td>
                        </tr>
                      <% end %>

                    <% else %>
                      <tr>
                        <td class="text-lg px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        </td>
                        <td class="text-lg px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                          No <%= category.downcase %> found.
                        </td>
                        <td class="text-lg px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

          <% current_pagy = instance_variable_get("@pagy_#{category}") %>
          <% if !current_pagy.blank? && current_pagy.pages >= 1 %>
            <div class="text-center my-6">
              <%== pagy_nav(current_pagy) %>
            </div>
          <% end %>

        </div>
      </div>

    <% end %>
  </div> <!-- div data-controller="tabs" data-tabs-active-tab="-mb-px tab-active transition" -->

</div> <!-- div class="my-6 overflow-hidden" -->

