<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3"><%= pluralize @accessories.count, "Accessory" %></h1>

    <% if @accessories.any? %>
      <%#= link_to "New Accessory", new_polymorphic_path(accessory_model.constantize), class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @accessories.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"></th>
            <th class="p-3 uppercase text-center text-xs"><%= sortable @accessories, :name, 'Name', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-center text-xs"><%= sortable @accessories, :brand, 'Brand', class: 'text-gray-700' %></th>

            <th class="p-3 uppercase text-center text-xs"><%= sortable @accessories, :description, 'Description', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-center text-xs"><%= sortable @accessories, :retail_price, 'Retail price', class: 'text-gray-700' %></th>

            <th class="p-3 uppercase text-center text-xs text-gray-700 cursor-default">Categories</th>
          </tr>
        </thead>

        <tbody>
        <% @accessories.each do |accessory| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">

            <td class="p-3 text-left"><%= determine_gender_sign(accessory) %></td>
            <td class="p-3 text-center"><%= link_to accessory.name, polymorphic_path(accessory) %></td>
            <td class="p-3 text-center"><%= link_to accessory.brand.name, brand_path(accessory.brand) %></td>
            <td class="p-3 text-center"><%= truncate(accessory.description, length: 60) %></td>
            <td class="p-3 text-center"><%= number_to_currency(accessory.retail_price) %></td>
            <td class="p-3 text-center">
              <% accessory.body_parts.each do |body_part| %>
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-red-100 text-red-800">
                  <%= body_part.name %>
                </span>
              <% end %>
              <% accessory.categories.each do |category| %>
                <span class="flex-shrink-0 inline-block px-2 text-blue-800 text-xs leading-4 font-medium bg-blue-100 rounded-full">
                  <%= category.name %>
                </span>
              <% end %>
              <% accessory.subcategories.each do |subcategory| %>
                <span class="flex-shrink-0 inline-block px-2 text-green-800 text-xs leading-4 font-medium bg-green-100 rounded-full">
                  <%= subcategory.name %>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy_accessories.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy_accessories) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first accessory</p>
        <%#= link_to "New #{accessory_model}", new_polymorphic_path(accessory_model.constantize), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
