<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Fragrances</h1>

    <% if @fragrances.any? %>
      <%= link_to 'New Fragrance', new_fragrance_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @fragrances.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :user_id, 'User', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :brand_id, 'Brand', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :name, 'Name', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :description, 'Description', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :retail_price, 'Retail price', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :release_date, 'Release date', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :gender, 'Gender', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :ingredients, 'Ingredients', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :top_notes, 'Top notes', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :middle_notes, 'Middle notes', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :base_notes, 'Base notes', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :accords, 'Accords', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @fragrances, :product_url, 'Product url', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @fragrances.each do |fragrance| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= fragrance.user_id %></td>
                      <td class="p-3"><%= fragrance.brand_id %></td>
                      <td class="p-3"><%= fragrance.name %></td>
                      <td class="p-3"><%= fragrance.product_image_data %></td>
                      <td class="p-3"><%= fragrance.description %></td>
                      <td class="p-3"><%= fragrance.retail_price %></td>
                      <td class="p-3"><%= fragrance.release_date %></td>
                      <td class="p-3"><%= fragrance.gender %></td>
                      <td class="p-3"><%= fragrance.ingredients %></td>
                      <td class="p-3"><%= fragrance.top_notes %></td>
                      <td class="p-3"><%= fragrance.middle_notes %></td>
                      <td class="p-3"><%= fragrance.base_notes %></td>
                      <td class="p-3"><%= fragrance.accords %></td>
                      <td class="p-3"><%= fragrance.product_url %></td>

            <td>
              <%= link_to "View", fragrance, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Fragrance</p>
        <%= link_to 'New Fragrance', new_fragrance_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
