<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Fragrances', fragrances_path %> > Fragrance #<%= @fragrance.id %></h1>
      <%= link_to 'Edit', edit_fragrance_path(@fragrance), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>User</h5>
        <%= @fragrance.user %>
      </div>
            <div class="mb-4">
        <h5>Brand</h5>
        <%= @fragrance.brand %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @fragrance.name %>
      </div>
            <div class="mb-4">
        <h5>Description</h5>
        <%= @fragrance.description %>
      </div>
            <div class="mb-4">
        <h5>Retail price</h5>
        <%= @fragrance.retail_price %>
      </div>
            <div class="mb-4">
        <h5>Release date</h5>
        <%= @fragrance.release_date %>
      </div>
            <div class="mb-4">
        <h5>Gender</h5>
        <%= @fragrance.gender %>
      </div>
            <div class="mb-4">
        <h5>Ingredients</h5>
        <%= @fragrance.ingredients %>
      </div>
            <div class="mb-4">
        <h5>Top notes</h5>
        <%= @fragrance.top_notes %>
      </div>
            <div class="mb-4">
        <h5>Middle notes</h5>
        <%= @fragrance.middle_notes %>
      </div>
            <div class="mb-4">
        <h5>Base notes</h5>
        <%= @fragrance.base_notes %>
      </div>
            <div class="mb-4">
        <h5>Accords</h5>
        <%= @fragrance.accords %>
      </div>
            <div class="mb-4">
        <h5>Product url</h5>
        <%= @fragrance.product_url %>
      </div>
          </div>
  </div>
</div>
