<%= content_tag :div, id: "outfit-item-product-select", data: { new_record: form.object.new_record? }, class: "nested-fields" do %>
  <%= hidden_field_tag(:body_part, body_part, class: "form-control") %>
  <%= hidden_field_tag(:category, category, class: "form-control") %>
  <div class="form-group">
    <%= form.label :productable, "#{category}", class: "block text-sm font-medium leading-5 text-gray-700" %>
      <!-- <div class="relative"> -->
        <%= form.collection_select(:productable, Accessory.all, :id, :name, {prompt: "Select a product"}, {class: "form-control dropdown-choice-select", id: "outfit-item"}) %>
        <!-- <div class="caret"><svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg></div>
    </div> -->
  </div>
<% end %>
<%#= f.association :assoc_name, collection: Assoc.all(), input_html: {id: 'dropdown-choice-select'} %>
