<%= content_tag :div, data: { new_record: form.object.new_record? }, class: "nested-fields" do %>
  <div class="form-group">

    <div class="flex flex-wrap overflow-hidden md:-mx-1 lg:-mx-1 xl:-mx-1">

      <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-5/12 lg:my-1 lg:px-1 lg:w-5/12 xl:my-1 xl:px-1 xl:w-5/12">
          <div class="relative">
            <%= form.select :body_part, grouped_options_for_select(body_part_grouped_options, nil, prompt: "Select body part..."), class: "form-control" %>
            <div class="caret"><svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg></div>
        </div>
      </div>

      <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-5/12 lg:my-1 lg:px-1 lg:w-5/12 xl:my-1 xl:px-1 xl:w-5/12">
        <div class="relative">
          <%= form.select :productable, options_for_select(["p1", "p2", "p3"]), prompt: "Select product...", placeholder: "Type", class: "form-control" %>
          <div class="caret"><svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg></div>
        </div>
      </div>

      <!-- <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-1/3 lg:my-1 lg:px-1 lg:w-1/3 xl:my-1 xl:px-1 xl:w-1/3">
        <%#= form.text_field :productable_type, placeholder: "Type", class: "form-control" %>
      </div> -->

      <!-- <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-1/3 lg:my-1 lg:px-1 lg:w-1/3 xl:my-1 xl:px-1 xl:w-1/3">
        <%#= form.text_field :productable_id, placeholder: "ID", class: "form-control" %>
      </div> -->

      <!-- <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-1/4 lg:my-1 lg:px-1 lg:w-1/4 xl:my-1 xl:px-1 xl:w-1/4">
        <%#= form.text_field :body_part, placeholder: "Body Part", class: "form-control" %>
      </div> -->

      <div class="flex justify-center items-center w-full overflow-hidden md:my-1 md:px-1 md:w-1/6 lg:my-1 lg:px-1 lg:w-1/6 xl:my-1 xl:px-1 xl:w-1/6">
        <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" }, class: "btn btn-danger" %>
        <%= form.hidden_field :_destroy %>
      </div>
    </div>

  </div>
<% end %>
