<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h3>Outfits</h3>

    <% if @outfits.any? %>
      <%= link_to 'New Outfit', new_outfit_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @outfits.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @outfits, :name, 'Name', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @outfits, :occasion, 'Occasion', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @outfits, :dress_code, 'Dress code', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @outfits, :total_number_of_products, 'No. of products', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @outfits, :total_price, 'Total price', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @outfits, :user_id, 'Created By', class: 'text-gray-700' %></th>
          </tr>
        </thead>

        <tbody>
        <% @outfits.each do |outfit| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
            <td class="p-3"><%= link_to outfit.name, outfit_path(outfit) %></td>
            <td class="p-3"><%= outfit.occasion %></td>
            <td class="p-3"><%= outfit.dress_code %></td>
            <td class="p-3"><%= outfit.total_number_of_products %></td>
            <td class="p-3"><%= number_to_currency(outfit.total_price) %></td>
            <td class="p-3"><%= link_to outfit.user.username, user_profile_path(outfit.user) %></td>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Outfit</p>
        <%= link_to 'New Outfit', new_outfit_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
