<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h4><%= link_to 'Outfits', outfits_path %></h4>
      <%= link_to 'Edit', edit_outfit_path(@outfit), class: "btn btn-link" %>
    </div>

    <div class="flex justify-between items-center mb-4">
      <% if (user_signed_in? && current_account.personal? && @outfit.user != current_user) %>
        <%= render partial: "votable/liking", locals: { likeable: @outfit }  %>
        <%= render partial: "votable/favoriting", locals: { favoritable: @outfit } %>
      <% end %>
    </div>

    <div class="bg-white rounded shadow p-8">
      <div class="mb-4">
        <h3><%= @outfit.name %></h3>
        <p class="text-gray-600 text-md ml-4">
          <% unless @outfit.brand.present? %>
            <%=  link_to @outfit.user.username, user_profile_path(@outfit.user) %> on <%= @outfit.created_at.strftime("%A, %d %b %Y at %l:%M %p") %>
          <% else %>
            <%= @outfit.user %> from <%= link_to @outfit.brand.name, brand_path(@outfit.brand) %> on <%= @outfit.created_at.strftime("%A, %d %b %Y at %l:%M %p") %>
          <% end %>
        </p>
      </div>
            <div class="mb-4">
        <div class="mb-2 block text-lg font-medium leading-5 text-gray-700">Description</div>
        <%= @outfit.description %>
      </div>

      <div class="text-center flex flex-wrap overflow-hidden md:-mx-1 lg:-mx-1 xl:-mx-1">
        <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-1/2 lg:my-1 lg:px-1 lg:w-1/2 xl:my-1 xl:px-1 xl:w-1/2">
          <div class="block text-lg font-medium leading-5 text-gray-700">Occasion</div>
          <%= @outfit.occasion %>
        </div>

        <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-1/2 lg:my-1 lg:px-1 lg:w-1/2 xl:my-1 xl:px-1 xl:w-1/2">
          <div class="block text-lg font-medium leading-5 text-gray-700">Dress Code</div>
          <%= @outfit.dress_code %>
        </div>
      </div>

      <div class="text-center flex flex-wrap overflow-hidden md:-mx-1 lg:-mx-1 xl:-mx-1">
        <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-1/2 lg:my-1 lg:px-1 lg:w-1/2 xl:my-1 xl:px-1 xl:w-1/2">
          <div class="block text-lg font-medium leading-5 text-gray-700">No. of Products</div>
          <%= @outfit.total_number_of_products %>
        </div>

        <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-1/2 lg:my-1 lg:px-1 lg:w-1/2 xl:my-1 xl:px-1 xl:w-1/2">
          <div class="block text-lg font-medium leading-5 text-gray-700">Total Price</div>
          <%= number_to_currency(@outfit.total_price) %>
        </div>
      </div>
    </div>

  <h3 class="mt-3 mb-3 text-center">
    <%= pluralize(@outfit_items.count, "Outfit Item") %>
  </h3>

  <% if @outfit_items.count == 0 %>
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <h4 class="text-center">No items added yet.</h4>
        <p class="text-center text-gray-700">Browse our selection of products. When you find the product you want, select the outfit "<%= @outfit.name %>" in the dropdown menu and click "Add to Outfit".</p>
      </div>
    </div>
  <% end %>

  <ul class="list-none grid grid-cols-1 gap-3 sm:grid-cols-1 lg:grid-cols-1">
    <% @outfit_items.each_with_index do |item, index| %>

      <li class="col-span-1 bg-white rounded-lg shadow">
        <div class="w-full flex items-center justify-between p-6 space-x-6">
          <div class="flex-1 truncate">
            <div class="flex items-center space-x-3">
              <h3 class="text-gray-900 text-lg leading-5 font-medium truncate">
                <%= link_to item.productable.name, polymorphic_path(item.productable) %>
              </h3>
              <span class="text-gray-900 text-lg leading-5 font-medium truncate">
                <h4>by <%= link_to item.productable.brand.name, polymorphic_path(item.productable.brand) %></h4>
              </span>
              <span class="flex-shrink-0 inline-block px-2 text-gray-800 text-xs leading-4 font-medium bg-gray-200 rounded-full">
                <%= item.body_part %>
              </span>
            </div>
            <p class="mt-1 text-gray-500 text-sm leading-5 truncate"><%= truncate(item.productable.description, length: 100) %> (<%= number_to_currency(item.productable.retail_price) %>)</p>
          </div>
          <%= image_tag item.productable.images.first, size: "75x75" %>
          <%#= image_tag item.productable.product_images.first.product_image_url(width: 100, height: 100, crop: :fit) %>
        </div>
      </li>

    <% end %>
  </ul>

  </div>
</div>
