<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to @post.user.username, user_profile_path(@post.user) %> > <%= link_to 'Posts', posts_path %> > Post #<%= @post.id %></h1>
      <%#= link_to 'Edit', edit_user_profile_post_path(@post), class: "btn btn-link" %>
    </div>



    <div class="bg-white overflow-hidden overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">

        <div class="mb-4">
          <h3><%= @post.content %></h3>
        </div>

        <% if @post.post_image_data.present? && !@post.post_video_data.present? %>
          <div class="mb-4">
            <%= image_tag @post.post_image_url %>
          </div>
        <% end %>

        <% if @post.post_video_data.present? && !@post.post_image_data.present? %>
          <div class="mb-4">
            <%= @post.post_video_url %>
          </div>
        <% end %>

        <div class="mb-4">
          <h5>Tags</h5>
          <%= raw @post.post_tag_list.map { |t| link_to(t, "#", class: "inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-gray-100 text-gray-800") }.join(" ") %>
        </div>
      </div>
      <div class="border-t border-gray-200 px-4 py-4 sm:px-6">
        <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
        <div class="flex flex-wrap overflow-hidden md:-mx-1 lg:-mx-1 xl:-mx-1">

          <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-1/2 lg:my-1 lg:px-1 lg:w-1/2 xl:my-1 xl:px-1 xl:w-1/2">
            <%= render partial: "votable/liking", locals: { likeable: @post } if @post.user != current_user %>
          </div>

          <div class="w-full overflow-hidden md:my-1 md:px-1 md:w-1/2 lg:my-1 lg:px-1 lg:w-1/2 xl:my-1 xl:px-1 xl:w-1/2 text-right text-gray-600 text-sm">
            Posted by <%= link_to @post.user.username, user_profile_path(@post.user) %> <%= "from #{@post.brand.name}" if @post.brand.present? %> on <%= @post.created_at.strftime("%B %e, %Y @ %l:%M %p") %>
          </div>

        </div>
      </div>
    </div>

  <%= render partial: "comments/all_commentable" %>

  </div>
</div>
