<%= form_with url: search_path, local: true, method: :get, data: { controller: "autocomplete", "autocomplete-url": autocomplete_path(action: "autocomplete") }, html: { class: "w-full flex md:ml-0" } do |search| %>
  <label for="q" class="sr-only">Search</label>
  <div class="relative w-full text-gray-600 focus-within:text-gray-600">
    <div data-controller="search" data-search-url="/search/autocomplete">
      <%= search.button(class: "absolute inset-y-0 left-0 flex items-center pointer-events-none") do %>
        <%= fa_icon("fal fa-search") %>
      <% end %>
      <%= search.search_field :q, placeholder: "Search products, guides, reviews, etc.", autocomplete: false, data: {target: "autocomplete.input" }, class: "block w-full h-full pl-8 pr-3 py-2 rounded-md text-gray-900 placeholder-gray-600 focus:outline-none focus:placeholder-gray-400 sm:text-sm" %>
      <%= search.hidden_field :accessory_id, data: { target: 'autocomplete.hidden' } %>
      <%= search.hidden_field :bottom_id, data: { target: 'autocomplete.hidden' } %>
      <%= search.hidden_field :cosmetic_id, data: { target: 'autocomplete.hidden' } %>
      <%= search.hidden_field :dress_id, data: { target: 'autocomplete.hidden' } %>
      <%= search.hidden_field :fragrance_id, data: { target: 'autocomplete.hidden' } %>
      <%= search.hidden_field :jewelry_id, data: { target: 'autocomplete.hidden' } %>
      <%= search.hidden_field :shoe_id, data: { target: 'autocomplete.hidden' } %>
      <%= search.hidden_field :top_id, data: { target: 'autocomplete.hidden' } %>
      <%= search.hidden_field :guide_id, data: { target: 'autocomplete.hidden' } %>
      <%= search.hidden_field :user_id, data: { target: 'autocomplete.hidden' } %>
      <%= tag :ul, data: { target: 'autocomplete.results' }, class: 'autocomplete list-none' %>
      <%#= render "search/index" %>
    </div>
  </div>
<% end %>
