<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3"><%= product_model_plural %></h1>

    <% if products.any? %>
      <%= link_to "New #{product_model}", new_polymorphic_path(product_model.constantize), class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if products.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable products, :name, 'Name', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable products, :brand, 'Brand', class: 'text-gray-700' %></th>

            <th class="p-3 uppercase text-left text-xs"><%= sortable products, :description, 'Description', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable products, :retail_price, 'Retail price', class: 'text-gray-700' %></th>

            <th class="p-3 uppercase text-left text-xs"><%= sortable products, :username, 'User', class: 'text-gray-700' %></th>
          </tr>
        </thead>

        <tbody>
        <% products.each do |product| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">

            <td class="p-3"><%= determine_gender_sign(product) %></td>
            <td class="p-3"><%= link_to product.name, polymorphic_path(product) %></td>
            <td class="p-3"><%= link_to product.brand.name, brand_path(product.brand) %></td>
            <td class="p-3"><%= truncate(product.description, length: 60) %></td>
            <td class="p-3"><%= number_to_currency(product.retail_price) %></td>
            <td class="p-3"><%= link_to product.user.username, user_profile_path(product.user) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first <%= product_model %></p>
        <%= link_to "New #{product_model}", new_polymorphic_path(product_model.constantize), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
