<%= form_with(model: brand) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>


  <div class="form-group">
    <%= form.label :account_id, "Account" %>
    <%= form.select :account_id, current_user.accounts.collect { |account| [account.name, account.id] unless account.brand.present? }, {include_blank: true, disabled: current_user.accounts.where(personal: true).first.id }, { class: "form-control" } %>
    <p class="text-sm text-gray-600">You must use an account aside from your default personal account.</p>
  </div>


  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :alias %>
    <%= form.text_field :alias, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :founding_date %>
    <%= form.text_field :founding_date, class: "form-control", data: { controller: :flatpickr, flatpickr_alt_input: true, flatpickr_alt_format: t("date.formats.long") } %>
  </div>

  <div class="form-group">
    <%= form.label :mission %>
    <%= form.text_field :mission, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.text_field :category, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price_range %>
    <%= form.number_field :price_range, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :brand_image, "Logo" %>
    <%= form.file_field :brand_image, class: "form-control" %>
  </div>

  <hr class="my-4">

  <div class="form-group">
    <%= form.label :about %>
    <%= form.text_area :about, size: "5x20", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :story %>
    <%= form.text_area :story, size: "5x20", class: "form-control" %>
  </div>

  <hr class="my-4">

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address1 %>
    <%= form.text_field :address1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address2 %>
    <%= form.text_field :address2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :state_code %>
    <%= form.text_field :state_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :country_code %>
    <%= form.text_field :country_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, class: "form-control" %>
  </div>

  <hr class="my-4">

  <div class="form-group">
    <%= form.label :homepage_link %>
    <%= form.text_field :homepage_link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :instagram_link %>
    <%= form.text_field :instagram_link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :youtube_link %>
    <%= form.text_field :youtube_link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :facebook_link %>
    <%= form.text_field :facebook_link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :twitter_link %>
    <%= form.text_field :twitter_link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :snapchat_link %>
    <%= form.text_field :snapchat_link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tiktok_link %>
    <%= form.text_field :tiktok_link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :pinterest_link %>
    <%= form.text_field :pinterest_link, class: "form-control" %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to 'Delete', form.object, class: "btn btn-danger outline", method: :delete, data: { remote: true, confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
