<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Brands</h1>

    <% if @brands.any? %>
      <%= link_to 'New Brand', new_brand_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @brands.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :user_id, 'User', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :account_id, 'Account', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :name, 'Name', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :brand_identifier, 'Identifier', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :category, 'Category', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :price_range, 'Price range', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :founding_date, 'Founding date', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :about, 'About', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :story, 'Story', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :mission, 'Mission', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :email, 'Email', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :phone, 'Phone', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :address1, 'Address1', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :address2, 'Address2', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :city, 'City', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :state_code, 'State code', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :country_code, 'Country code', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :zipcode, 'Zipcode', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :homepage_link, 'Homepage link', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :instagram_link, 'Instagram link', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :youtube_link, 'Youtube link', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :facebook_link, 'Facebook link', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :twitter_link, 'Twitter link', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :snapchat_link, 'Snapchat link', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :tiktok_link, 'Tiktok link', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :pinterest_link, 'Pinterest link', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @brands, :slug, 'Slug', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @brands.each do |brand| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
            <td class="p-3"><%= brand.user_id %></td>
            <td class="p-3"><%= brand.account_id %></td>
            <td class="p-3"><%= brand.name %></td>
            <td class="p-3"><%= brand.brand_identifier %></td>
            <td class="p-3"><%= brand.category %></td>
            <td class="p-3"><%= brand.price_range %></td>
            <td class="p-3"><%= brand.founding_date %></td>
            <td class="p-3"><%= brand.about %></td>
            <td class="p-3"><%= brand.story %></td>
            <td class="p-3"><%= brand.mission %></td>
            <td class="p-3"><%= brand.email %></td>
            <td class="p-3"><%= brand.phone %></td>
            <td class="p-3"><%= brand.address1 %></td>
            <td class="p-3"><%= brand.address2 %></td>
            <td class="p-3"><%= brand.city %></td>
            <td class="p-3"><%= brand.state_code %></td>
            <td class="p-3"><%= brand.country_code %></td>
            <td class="p-3"><%= brand.zipcode %></td>
            <td class="p-3"><%= brand.homepage_link %></td>
            <td class="p-3"><%= brand.instagram_link %></td>
            <td class="p-3"><%= brand.youtube_link %></td>
            <td class="p-3"><%= brand.facebook_link %></td>
            <td class="p-3"><%= brand.twitter_link %></td>
            <td class="p-3"><%= brand.snapchat_link %></td>
            <td class="p-3"><%= brand.tiktok_link %></td>
            <td class="p-3"><%= brand.pinterest_link %></td>
            <td class="p-3"><%= brand.slug %></td>

            <td>
              <%= link_to "View", brand, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Brand</p>
        <%= link_to 'New Brand', new_brand_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
