<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Brands', brands_path %> > Brand #<%= @brand.id %></h1>
      <%= link_to 'Edit', edit_brand_path(@brand), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>User</h5>
        <%= @brand.user %>
      </div>
            <div class="mb-4">
        <h5>Account</h5>
        <%= @brand.account %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @brand.name %>
      </div>
            <div class="mb-4">
        <h5>Alias</h5>
        <%= @brand.alias %>
      </div>
            <div class="mb-4">
        <h5>Brand image data</h5>
        <%= @brand.brand_image_data %>
      </div>
            <div class="mb-4">
        <h5>Category</h5>
        <%= @brand.category %>
      </div>
            <div class="mb-4">
        <h5>Price range</h5>
        <%= @brand.price_range %>
      </div>
            <div class="mb-4">
        <h5>Founding date</h5>
        <%= @brand.founding_date %>
      </div>
            <div class="mb-4">
        <h5>About</h5>
        <%= @brand.about %>
      </div>
            <div class="mb-4">
        <h5>Story</h5>
        <%= @brand.story %>
      </div>
            <div class="mb-4">
        <h5>Mission</h5>
        <%= @brand.mission %>
      </div>
            <div class="mb-4">
        <h5>Email</h5>
        <%= @brand.email %>
      </div>
            <div class="mb-4">
        <h5>Phone</h5>
        <%= @brand.phone %>
      </div>
            <div class="mb-4">
        <h5>Address1</h5>
        <%= @brand.address1 %>
      </div>
            <div class="mb-4">
        <h5>Address2</h5>
        <%= @brand.address2 %>
      </div>
            <div class="mb-4">
        <h5>City</h5>
        <%= @brand.city %>
      </div>
            <div class="mb-4">
        <h5>State code</h5>
        <%= @brand.state_code %>
      </div>
            <div class="mb-4">
        <h5>Country code</h5>
        <%= @brand.country_code %>
      </div>
            <div class="mb-4">
        <h5>Zipcode</h5>
        <%= @brand.zipcode %>
      </div>
            <div class="mb-4">
        <h5>Homepage link</h5>
        <%= @brand.homepage_link %>
      </div>
            <div class="mb-4">
        <h5>Instagram link</h5>
        <%= @brand.instagram_link %>
      </div>
            <div class="mb-4">
        <h5>Youtube link</h5>
        <%= @brand.youtube_link %>
      </div>
            <div class="mb-4">
        <h5>Facebook link</h5>
        <%= @brand.facebook_link %>
      </div>
            <div class="mb-4">
        <h5>Twitter link</h5>
        <%= @brand.twitter_link %>
      </div>
            <div class="mb-4">
        <h5>Snapchat link</h5>
        <%= @brand.snapchat_link %>
      </div>
            <div class="mb-4">
        <h5>Tiktok link</h5>
        <%= @brand.tiktok_link %>
      </div>
            <div class="mb-4">
        <h5>Pinterest link</h5>
        <%= @brand.pinterest_link %>
      </div>
            <div class="mb-4">
        <h5>Slug</h5>
        <%= @brand.slug %>
      </div>
          </div>
  </div>
</div>
