<%= form_with(model: category) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :account_id %>
    <%= form.text_field :account_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category_group_id %>
    <%= form.text_field :category_group_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :subcategory_count %>
    <%= form.number_field :subcategory_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :brands_count %>
    <%= form.number_field :brands_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :accessories_count %>
    <%= form.number_field :accessories_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bottoms_count %>
    <%= form.number_field :bottoms_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cosmetics_count %>
    <%= form.number_field :cosmetics_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :dresses_count %>
    <%= form.number_field :dresses_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :fragrances_count %>
    <%= form.number_field :fragrances_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :jewelries_count %>
    <%= form.number_field :jewelries_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :shoes_count %>
    <%= form.number_field :shoes_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :suits_count %>
    <%= form.number_field :suits_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tops_count %>
    <%= form.number_field :tops_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :total_products_count %>
    <%= form.number_field :total_products_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :reviews_count %>
    <%= form.number_field :reviews_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :guides_count %>
    <%= form.number_field :guides_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :outfits_count %>
    <%= form.number_field :outfits_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :catalogs_count %>
    <%= form.number_field :catalogs_count, class: "form-control" %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to 'Delete', form.object, class: "btn btn-danger outline", method: :delete, data: { remote: true, confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
