<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Categories</h1>

    <% if @categories.any? %>
      <%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @categories.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :user_id, 'User', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :account_id, 'Account', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :category_group_id, 'Category group', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :name, 'Name', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :subcategory_count, 'Subcategory count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :brands_count, 'Brands count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :accessories_count, 'Accessories count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :bottoms_count, 'Bottoms count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :cosmetics_count, 'Cosmetics count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :dresses_count, 'Dresses count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :fragrances_count, 'Fragrances count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :jewelries_count, 'Jewelries count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :shoes_count, 'Shoes count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :suits_count, 'Suits count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :tops_count, 'Tops count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :total_products_count, 'Total products count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :reviews_count, 'Reviews count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :guides_count, 'Guides count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :outfits_count, 'Outfits count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @categories, :catalogs_count, 'Catalogs count', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @categories.each do |category| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= category.user_id %></td>
                      <td class="p-3"><%= category.account_id %></td>
                      <td class="p-3"><%= category.category_group_id %></td>
                      <td class="p-3"><%= category.name %></td>
                      <td class="p-3"><%= category.subcategory_count %></td>
                      <td class="p-3"><%= category.brands_count %></td>
                      <td class="p-3"><%= category.accessories_count %></td>
                      <td class="p-3"><%= category.bottoms_count %></td>
                      <td class="p-3"><%= category.cosmetics_count %></td>
                      <td class="p-3"><%= category.dresses_count %></td>
                      <td class="p-3"><%= category.fragrances_count %></td>
                      <td class="p-3"><%= category.jewelries_count %></td>
                      <td class="p-3"><%= category.shoes_count %></td>
                      <td class="p-3"><%= category.suits_count %></td>
                      <td class="p-3"><%= category.tops_count %></td>
                      <td class="p-3"><%= category.total_products_count %></td>
                      <td class="p-3"><%= category.reviews_count %></td>
                      <td class="p-3"><%= category.guides_count %></td>
                      <td class="p-3"><%= category.outfits_count %></td>
                      <td class="p-3"><%= category.catalogs_count %></td>
          
            <td>
              <%= link_to "View", category, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Category</p>
        <%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
