<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Categories', categories_path %> > Category #<%= @category.id %></h1>
      <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>User</h5>
        <%= @category.user %>
      </div>
            <div class="mb-4">
        <h5>Account</h5>
        <%= @category.account %>
      </div>
            <div class="mb-4">
        <h5>Category group</h5>
        <%= @category.category_group %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @category.name %>
      </div>
            <div class="mb-4">
        <h5>Subcategory count</h5>
        <%= @category.subcategory_count %>
      </div>
            <div class="mb-4">
        <h5>Brands count</h5>
        <%= @category.brands_count %>
      </div>
            <div class="mb-4">
        <h5>Accessories count</h5>
        <%= @category.accessories_count %>
      </div>
            <div class="mb-4">
        <h5>Bottoms count</h5>
        <%= @category.bottoms_count %>
      </div>
            <div class="mb-4">
        <h5>Cosmetics count</h5>
        <%= @category.cosmetics_count %>
      </div>
            <div class="mb-4">
        <h5>Dresses count</h5>
        <%= @category.dresses_count %>
      </div>
            <div class="mb-4">
        <h5>Fragrances count</h5>
        <%= @category.fragrances_count %>
      </div>
            <div class="mb-4">
        <h5>Jewelries count</h5>
        <%= @category.jewelries_count %>
      </div>
            <div class="mb-4">
        <h5>Shoes count</h5>
        <%= @category.shoes_count %>
      </div>
            <div class="mb-4">
        <h5>Suits count</h5>
        <%= @category.suits_count %>
      </div>
            <div class="mb-4">
        <h5>Tops count</h5>
        <%= @category.tops_count %>
      </div>
            <div class="mb-4">
        <h5>Total products count</h5>
        <%= @category.total_products_count %>
      </div>
            <div class="mb-4">
        <h5>Reviews count</h5>
        <%= @category.reviews_count %>
      </div>
            <div class="mb-4">
        <h5>Guides count</h5>
        <%= @category.guides_count %>
      </div>
            <div class="mb-4">
        <h5>Outfits count</h5>
        <%= @category.outfits_count %>
      </div>
            <div class="mb-4">
        <h5>Catalogs count</h5>
        <%= @category.catalogs_count %>
      </div>
          </div>
  </div>
</div>
