<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Dresses', dresses_path %> > Dress #<%= @dress.id %></h1>
      <%= link_to 'Edit', edit_dress_path(@dress), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>User</h5>
        <%= @dress.user %>
      </div>
            <div class="mb-4">
        <h5>Brand</h5>
        <%= @dress.brand %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @dress.name %>
      </div>
            <div class="mb-4">
        <h5>Description</h5>
        <%= @dress.description %>
      </div>
            <div class="mb-4">
        <h5>Retail price</h5>
        <%= @dress.retail_price %>
      </div>
            <div class="mb-4">
        <h5>Type of</h5>
        <%= @dress.type_of %>
      </div>
            <div class="mb-4">
        <h5>Gender</h5>
        <%= @dress.gender %>
      </div>
            <div class="mb-4">
        <h5>Material</h5>
        <%= @dress.material %>
      </div>
            <div class="mb-4">
        <h5>Primary color</h5>
        <%= @dress.primary_color %>
      </div>
            <div class="mb-4">
        <h5>Secondary color</h5>
        <%= @dress.secondary_color %>
      </div>
            <div class="mb-4">
        <h5>Product url</h5>
        <%= @dress.product_url %>
      </div>
          </div>
  </div>
</div>
