<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Guides</h1>

    <% if @guides.any? %>
      <%= link_to 'New Guide', new_guide_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @guides.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @guides, :title, 'Title', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @guides, :category, 'Category', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @guides, :subcategory_one, 'Subcategory one', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @guides, :subcategory_two, 'Subcategory two', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @guides, :user_id, 'User', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @guides, :brand_id, 'Brand', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @guides.each do |guide| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
            <td class="p-3"><%= link_to guide.title, guide_path(guide) %></td>
            <td class="p-3"><%= guide.category %></td>
            <td class="p-3"><%= guide.subcategory_one %></td>
            <td class="p-3"><%= guide.subcategory_two %></td>
            <td class="p-3"><%= link_to guide.user.username, "#" %></td>
            <td class="p-3"><%= link_to guide.brand.name, brand_path(guide.brand) if guide.brand.present? %></td>

            <td>
              <%= link_to "View", guide, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Guide</p>
        <%= link_to 'New Guide', new_guide_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
