<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Guides', guides_path %> > Guide #<%= @guide.id %></h1>
      <%= link_to 'Edit', edit_guide_path(@guide), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
      <% if @guide.brand.present? %>
        <div class="mb-4">
          <h5>Brand</h5>
          <%= @guide.brand.name %>
        </div>
      <% end %>

      <div class="mb-4">
        <h3><%= @guide.title %></h3>
        <% if @guide.brand.present? %>
          <p class="text-gray-600 text-md ml-4">Written by <%= @guide.user.username %> from <%= @guide.brand.name %> on <%= @guide.created_at.strftime("%A, %d %b %Y at %l:%M %p") %></p>
        <% else %>
          <p class="text-gray-600 text-md ml-4">Written by <%= @guide.user.username %> on <%= @guide.created_at.strftime("%A, %d %b %Y at %l:%M %p") %></p>
        <% end %>
      </div>

      <div class="mb-4">
        <%= @guide.body %>
      </div>

      <div class="flex flex-wrap overflow-hidden lg:-mx-1 xl:-mx-1">

        <div class="w-full overflow-hidden lg:my-1 lg:px-1 lg:w-1/3 xl:my-1 xl:px-1 xl:w-1/3">
          <div class="mb-4">
            <h5>Category</h5>
            <%= @guide.category %>
          </div>
        </div>

        <div class="w-full overflow-hidden lg:my-1 lg:px-1 lg:w-1/3 xl:my-1 xl:px-1 xl:w-1/3">
          <div class="mb-4">
            <h5>Subcategory one</h5>
            <%= @guide.subcategory_one %>
          </div>
        </div>

        <% if @guide.brand.present? %>
          <div class="w-full overflow-hidden lg:my-1 lg:px-1 lg:w-1/3 xl:my-1 xl:px-1 xl:w-1/3">
            <div class="mb-4">
              <h5>Subcategory two</h5>
              <%= @guide.subcategory_two %>
            </div>
          </div>
        <% end %>


      </div>







    </div>
  </div>
</div>
