<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">

    <div class="flex justify-between items-center mb-4">
      <h4>
        <%= link_to @product.type_of.pluralize, products_path %> > <%= @product.name %>
      </h4>
      <%#= link_to 'Edit', edit_polymorphic_path(product), class: "btn btn-link" %>
    </div>

    <div class="flex justify-between items-center mb-4">
      <%#= link_to polymorphic_path([product, Review]), class: "btn btn-tertiary" do %>
        <%#= fa_icon("fal fa-border-all", class: "mr-2") %>
        <!-- All Reviews -->
      <%# end %>
      <% if (user_signed_in? && current_account.personal? && @product.user != current_user) %>
        <%= render partial: "votable/liking", locals: { likeable: @product }  %>
        <%= render partial: "votable/favoriting", locals: { favoritable: @product } %>
        <%= render partial: "votable/collecting", locals: { collectable: @product, collected_status: @collected_status } %>
      <% end %>
      <% if (user_signed_in?) %>
        <%= render partial: "outfits/products/add_to_outfit", locals: { users_outfits: @users_outfits, product: @product } %>
      <% end %>
    </div>

    <div class="bg-white rounded shadow p-8">

      <div class="mb-4">
        <% @product.images.each do |image| %>
          <%= image_tag image %>
        <% end %>
      </div>

      <div class="mb-4">
        <h5>User</h5>
        <%= @product.user.name %>
      </div>

      <div class="mb-4">
        <h5>Brand</h5>
        <%= @product.brand.name %>
      </div>

      <div class="mb-4">
        <h5>Name</h5>
        <%= @product.name %>
      </div>


      <div class="mb-4">
        <h5>Description</h5>
        <%= @product.description %>
      </div>

      <div class="mb-4">
        <h5>Retail price</h5>
        <%= number_to_currency(@product.retail_price) %>
      </div>

      <div class="mb-4">
        <h5>Body Part</h5>
        <% @product.body_parts.each do |body_part| %>
          <%= body_part.name %>
        <% end %>
      </div>

      <div class="mb-4">
        <h5>Category</h5>
        <% @product.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </div>

      <div class="mb-4">
        <h5>Subcategory</h5>
        <% @product.subcategories.each do |subcategory| %>
          <%= subcategory.name %>
        <% end %>
      </div>

      <div class="mb-4">
        <h5>Type of</h5>
        <%= @product.type_of %>
      </div>

      <% unless params[:controller] == "dresses" %>
        <div class="mb-4">
          <h5>Gender</h5>
          <%= @product.gender %>
        </div>
      <% end %>

      <% unless params[:controller] == "cosmetics" || params[:controller] == "fragrances" %>
        <div class="mb-4">
          <h5>Material</h5>
          <%= @product.materials %>
        </div>

        <div class="mb-4">
          <h5>Primary color</h5>
          <%= @product.primary_color %>
        </div>

        <div class="mb-4">
          <h5>Secondary color</h5>
          <%= @product.secondary_color %>
        </div>

      <% else %>
        <div class="mb-4">
          <h5>Ingredients</h5>
          <%= @product.ingredients %>
        </div>
      <% end %>

      <div class="mb-4">
        <h5>Product url</h5>
        <%= @product.product_url %>
      </div>

    </div>

  </div>
</div>
