<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Reviews</h1>

    <% if @reviews.any? %>
      <%= link_to 'New Review', polymorphic_path([@reviewable, Review.new]), class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @reviews.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @reviews, :title, 'Title', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @reviews, :quality, 'Quality', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @reviews, :value, 'Value', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @reviews, :compliment, 'Compliment', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @reviews, :ratings, 'Ratings', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @reviews.each do |review| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
            <td class="p-3"><%= review.title %></td>
            <td class="p-3"><%= review.quality %></td>
            <td class="p-3"><%= review.value %></td>
            <td class="p-3"><%= review.compliment %></td>
            <td class="p-3"><%= review.ratings %></td>

            <td>
              <%= link_to "View", polymorphic_path([@reviewable, review]), class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Review</p>
        <%= link_to 'New Review', new_polymorphic_path([@reviewable, Review.new]), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<% console %>
