<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Shoes</h1>

    <% if @shoes.any? %>
      <%= link_to 'New Shoe', new_shoe_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @shoes.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :user_id, 'User', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :brand_id, 'Brand', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :name, 'Name', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :product_image_data, 'Product image data', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :description, 'Description', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :retail_price, 'Retail price', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :type_of, 'Type of', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :gender, 'Gender', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :material, 'Material', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :primary_color, 'Primary color', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :secondary_color, 'Secondary color', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @shoes, :product_url, 'Product url', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @shoes.each do |shoe| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= shoe.user_id %></td>
                      <td class="p-3"><%= shoe.brand_id %></td>
                      <td class="p-3"><%= shoe.name %></td>
                      <td class="p-3"><%= shoe.product_image_data %></td>
                      <td class="p-3"><%= shoe.description %></td>
                      <td class="p-3"><%= shoe.retail_price %></td>
                      <td class="p-3"><%= shoe.type_of %></td>
                      <td class="p-3"><%= shoe.gender %></td>
                      <td class="p-3"><%= shoe.material %></td>
                      <td class="p-3"><%= shoe.primary_color %></td>
                      <td class="p-3"><%= shoe.secondary_color %></td>
                      <td class="p-3"><%= shoe.product_url %></td>
          
            <td>
              <%= link_to "View", shoe, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Shoe</p>
        <%= link_to 'New Shoe', new_shoe_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
